/*!CK:3422074543!*//*1421766580,*/

._1bkz{border-top:1px solid #dfdfdf;min-height:72px;padding-top:16px}._1bk-{background-color:#f6f7f8;margin-right:16px;padding:18px}._1bk_{-webkit-box-sizing:border-box;min-height:73px;padding-bottom:24px;position:relative;top:-1px}._1bk_ a{color:#232937}._1bkz ._1bl0{bottom:0;display:block;overflow-x:auto;position:absolute;width:100%}
a.btLink-subtle{color:#7f7f7f}

#bootloader_vjVyQ { height: 42px; }
.bootloader_vjVyQ { display:block !important; }